<?xml version="1.0" encoding="UTF-8"?>
<s:View xmlns:s="es.core"  xmlns:c="es.components" xmlns:ss="@">
    <s:Metadata>[HostComponent("IndexApplication")]</s:Metadata>
    <![CDATA[

       
        import es.core.Display;

         public get child():Array
         {

            return  [
            new Display( new Element(Element.createElement("div")),  {jjj:999,innerHTML:"=======createElement======="} ),
            new Display( new Element(Element.createElement("div")),  {jjj:7777,innerHTML:"<span style='color:red;'>=======createElement===66666666====</span>"} )
            ];
             
         }

         private click()
         {
             console.log("=====");
         }

    ]]>

    <head>
        <title>{this.title}</title>
    </head>

    <s:states>

       <s:State name="show" stateGroup="fail,success"></s:State>
       <s:State name="hide" stateGroup="hide"></s:State>

    </s:states>

    <s:currentState>hide</s:currentState>

    <div>sssss</div>

    <s:PopUp title="dfdsf" includeIn="success">
        sssssssss
    </s:PopUp>

    <button id="@popup">PopUp</button>
    <div>{this.child}</div>
    {this.child as Array}
    <div dd="sssss">
        <h1>the is {dataset.message}</h1>
        <h1>这里是内容 Person {dataset.uuuu}</h1>


        <s:Container>
            <div>ssssss</div>
            <div>666666</div>
        </s:Container>
    
        <c:DataGrid id="@dataGrid"  includeIn="success" onClick="{click}">

            <c:source>http://local.working.com/json.php</c:source>
            <c:dataSource>
                <c:dataType>@Http.TYPE_JSONP</c:dataType>
            </c:dataSource>

            <!-- <c:source>
                <ss:Array>
                    <ss:Object>
                        <id>ID</id>
                        <name>名称</name>
                        <phone>电话</phone>
                    </ss:Object>
                    <ss:Object>
                        <id>uuuu</id>
                        <name>yyyyy</name>
                        <phone>kkkkk</phone>
                    </ss:Object>
                </ss:Array>
            </c:source> -->
            
            <c:columns>
                <id>ID</id>
                <name>名称</name>
                <phone>电话</phone>
            </c:columns>

            <s:Container name="ul" >
                <div>========columns========</div>
            </s:Container>
            
        </c:DataGrid>
    </div>

</s:View>