<?xml version="1.0" encoding="UTF-8"?>
<s:View xmlns:s="es.core"  xmlns:c="es.components" xmlns:ss="@">
    <s:Metadata>[HostComponent("IndexApplication")]</s:Metadata>
    <![CDATA[

       
        import es.core.Display;

        override public function get title():String
        {
             var _title:String = super.title;
             if( !_title ){
                   return "No title";
             }

             return "My title="+_title;

            // return this.assign("title");
         }

         override public function set title(value:String):void
         {
               this.assign("title",value);
               document.title = value;
         }

         public get child():Array
         {

            return  [
            new Display( new Element(Element.createElement("div")),  {jjj:999,innerHTML:"=======createElement======="} ),
            new Display( new Element(Element.createElement("div")),  {jjj:7777,innerHTML:"<span style='color:red;'>=======createElement===66666666====</span>"} )
            ];
             
         }

    ]]>

    <head>
        <title>{this.title}</title>
    </head>

    <body>
         <input value="{{this.title}}" />
         <button id="@popup">PopUp</button>
         <div>{this.child}</div>
         <div>
             <h1>the is {message}</h1>
             <h1>这里是内容 Person</h1>
            
             <c:DataGrid id="@dataGrid">

                 <c:source>http://local.working.com/json.php</c:source>
                 <c:dataSource>
                     <c:dataType>@Http.TYPE_JSONP</c:dataType>
                 </c:dataSource>

                 <!-- <c:source>
                     <ss:Array>
                         <ss:Object>
                             <id>ID</id>
                             <name>名称</name>
                             <phone>电话</phone>
                         </ss:Object>
                          <ss:Object>
                             <id>uuuu</id>
                             <name>yyyyy</name>
                             <phone>kkkkk</phone>
                         </ss:Object>
                     </ss:Array>
                 </c:source> -->
                  
                 <c:columns>
                     <id>ID</id>
                     <name>名称</name>
                     <phone>电话</phone>
                 </c:columns>
             </c:DataGrid>
         </div>
    </body>
</s:View>