<?xml version="1.0" encoding="UTF-8"?>
<s:View xmlns:s="es.core"  xmlns:c="es.components" xmlns:ss="@">
    <s:Metadata>[HostComponent("PersonApplication")]</s:Metadata>
    <![CDATA[

        override public function get title():String
        {
             return this.assign("title");
         }

         override public function set title(value:String):void
         {
               this.assign("title",value);
               document.title = value;
         }

    ]]>


<input value="{{this.title}}" />
    <div>
        <h1>the is {dataset.message}</h1>
        <h1>这里是内容 Person</h1>
        <c:DataGrid>
            <c:dataSource>
                <c:dataType>@Http.TYPE_JSONP</c:dataType>
            </c:dataSource>
        
            <c:columns>
                <id>ID</id>
                <name>名称</name>
                <phone>电话</phone>
            </c:columns>
            <c:source>
                <ss:Array>
                    <ss:Object>
                        <id>ID</id>
                        <name>名称</name>
                        <phone>电话</phone>
                    </ss:Object>
                    <ss:Object>
                        <id>uuuu</id>
                        <name>yyyyy</name>
                        <phone>kkkkk</phone>
                    </ss:Object>
                </ss:Array>
            </c:source>
        </c:DataGrid>
    </div>

</s:View>