<?xml version="1.0" encoding="UTF-8"?>
<s:View xmlns:s="es.core"  xmlns:c="es.components">
    <s:Metadata>[HostComponent("IndexApplication")]</s:Metadata>
    <![CDATA[

    

    ]]>

    <head>
        <title>{this.title}</title>
    </head>

    <body>
         <input value="{{this.title}}" />
         <button id="@popup">PopUp</button>
         <div>
             <h1>the is {message}</h1>
             <h1>这里是内容 Person</h1>
            
             <c:DataGrid>

                 <c:source>http://local.working.com/json.php</c:source>
                 <c:dataSource>
                     <c:dataType>@Http.TYPE_JSONP</c:dataType>
                 </c:dataSource>
                  
                 <c:columns>
                     <id>ID</id>
                     <name>名称</name>
                     <phone>电话</phone>
                 </c:columns>
             </c:DataGrid>
         </div>
    </body>
</s:View>