<?xml version="1.0" encoding="UTF-8"?>
<s:View uu="sss" xmlns:s="es.core"  xmlns:c="es.components" xmlns:b="com" xmlns:p="view.page">
    <s:Metadata>[HostComponent("IndexApplication")]</s:Metadata>
    <head>
        <title>{title}</title>
        <meta charset="UTF-8" http-equiv="X-UA-Compatible" />
        <meta name="keyword" http-equiv="es,easescript" />
        <script src="jquery-1.11.2.js" ></script>
    </head>

    <body id="@body">

        <div>
            <button id="@button" type='button' class="btn btn-success" style="width: 100px;">点 我</button>
        </div>

        <div ooo="ssss">
            dsfdsfdsfsdf
        </div>


            <:for condition="var i=0; i lt 5; i++">
                <div>
                    ssss ==============yejun {i}
                    <:if condition="i eq 3">
                       <div>rrrrrrrrrrrrrr</div>
                    <:else/>
                       <span>wwwwwwwwww</span> 
                    </:if>
                </div>
            </:for>


        <div>99999</div>

        <s:Skin>
        </s:Skin>

        <table>
           
                <:foreach name="datalist" value="item">
                    <tr>
                        <:foreach name="item" value="val" key="ukey">
                            <:switch condition="ukey">
                                <:case condition="name" break="true">
                                    <td data-column="{bind::maxIndex}" style="height:{bind::maxHeight}px;z-index:{key};line-height:{bind::rowHeight}px;">
                                        <input value="{val}" data-index="{item.id}" style="height: 25px;" />
                                    </td>
                                </:case>
                                <:default>
                                     <td data-column="{key}" style="height:{bind::rowHeight}px;line-height:{bind::rowHeight}px;">{val}</td>
                                </:default>
                            </:switch>
                        </:foreach>
                    </tr>
                </:foreach>
            
        </table>

        <div class="uuuu " style="margin: 10px;">
            <h1>
                这里是内容9999999999   {context.title}
            </h1>
        </div>

    </body>
</s:View>