<?xml version="1.0" encoding="UTF-8"?>
<s:View xmlns:s="es.core"  xmlns:c="es.components" xmlns:b="@">
    <![CDATA[
        import es.core.PopUp;
        import es.skins.PopUpSkin;
        import es.core.Display;
        import BaseApplication;

        [RunPlatform('client')]
        override protected function initializing()
        {

            Element(".btn-success").addEventListener( MouseEvent.CLICK, function (e:MouseEvent) {
                console.log("click");

                /*PopUp.confirm("您有3条信息未处理2", function (type:String) {
                    console.log( type );
                }); */

                //e.stopPropagation();



              var modal:PopUp =  PopUp.modality("修改信息",  Element(".uuuu").html( true ) , {callback:function (type:String) {
                    console.log( type );
                },disableScroll:true,profile:{width:700, height:500}}) as PopUp;

                modal.skin.addEventListener(MouseEvent.CLICK, function(){

                        PopUp.confirm("您有3条信息未处理2", function (type:String) {
                        console.log( type );
                        });

                });

            });

        }

    ]]>

    <head>
        <title>{title}</title>
    </head>

    <body>
        <c:Navigate id="@navigate" skinClass="es.skins.NavigateSkin"></c:Navigate>

        <div>
            <button type="button" class="btn btn-success" style="width: 100px;">点 我</button>
        </div>

        <s:Skin>
            <s:template>
                <:for condition="var i=0; i lt 5; i++">
                    <div>
                        ssss ==============yejun {i}
                    </div>
                </:for>
            </s:template>
        </s:Skin>

        <div class="uuuu">
            <h1>这里是内容9999999999   {context.title} </h1>
            <c:DataGrid source="http://working.com/json.php" skinClass="es.skins.DataGridSkin" width="500" >
                <c:dataSource>
                    <c:dataType>@Http.TYPE_JSONP</c:dataType>
                </c:dataSource>
                <c:columns>
                    <id>ID</id>
                    <name>名称</name>
                    <phone>电话</phone>
                </c:columns>
            </c:DataGrid>
        </div>
    </body>
</s:View>