<?xml version="1.0" encoding="UTF-8"?>
<s:View xmlns:s="es.core"  xmlns:c="es.components">

    <body>
         <div><c:Navigate skinClass="es.skins.NavigateSkin"></c:Navigate></div>
         <div>
             <h1>这里是内容 Person</h1>
             <c:DataGrid source="http://working.com/json.php" skinClass="es.skins.DataGridSkin">
                 <c:dataSource>
                     <c:dataType>@Http.TYPE_JSONP</c:dataType>
                 </c:dataSource>
                 <c:columns>
                     <id>ID</id>
                     <name>名称</name>
                     <phone>电话</phone>
                 </c:columns>
             </c:DataGrid>
         </div>
    </body>
</s:View>